*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ContAcess{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(77, 77, 77);
}
.ContMenu{
    display: flex;
    width: 50vw;
    justify-content: space-around;
    list-style: none;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: antiquewhite
    ;
}
footer{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(77, 77, 77);
}
.TextFooter{
color: aliceblue;
}

body {
    font-family: Arial, sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;

    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 8px;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}